In [1]:
from models import LinearRegression, BoostingModel
from train import ClimateDataset, loss_rmse
import pandas as pd
import torch
import numpy as np

def feature_importance(booster):
    return pd.DataFrame({
        'feature': booster.feature_name(),
        'importance': booster.feature_importance(importance_type='gain')
    }).sort_values('importance', ascending=False).reset_index(drop=True)

In [2]:
ds = ClimateDataset('aice', lead_times=[3], periods=[3])
model = BoostingModel(variables=ds.variables.copy())
model.fit(ds)
feature_importance(model.model)

       feature     importance
0         aice  243846.577600
1      cos_lat   16729.302294
2           ps    8547.605698
3         t850    7712.167528
4      sin_lon    7097.492949
5          olr    6993.244529
6         h500    6824.411523
7         hice    6786.388554
8         v850    6028.637073
9          sst    5990.564500
10     cos_lon    3785.110461
11       t2max    3441.390424
12        u850    3130.765502
13        uv10    2735.834682
14         rq2    2599.944957
15       t2min    1910.994256
16          t2    1437.713337
17         cld    1179.115872
18        prec    1131.609003
19  sin_period       0.000000
20  cos_period       0.000000

In [3]:
ds = ClimateDataset('swe', lead_times=[3], periods=list(range(44, 49)))
model = BoostingModel(variables=ds.variables.copy())
model.fit(ds)
feature_importance(model.model)

       feature   importance
0        t2min  540728356.0
1          swe  345903520.0
2      cos_lat  290962796.0
3      cos_lon  237870206.0
4      sin_lon  221507471.0
5          tvl  218294927.0
6         sdor  189033583.0
7         h500  168372332.0
8           t2  158488576.0
9           ww  147749781.0
10        v850  132091792.0
11          ps  103620215.0
12        u850  102618582.0
13           z   87582560.0
14         olr   85790871.0
15        t850   78501741.0
16         cld   64410021.0
17        prec   58880406.0
18          ws   57867869.0
19       t2max   55318679.0
20         cvl   51401595.0
21        uv10   50330413.0
22  sin_period   49463002.0
23         lsm   37055644.0
24         slt   36109084.0
25         rq2   23785139.0
26         cvh   20626886.0
27  cos_period   15826003.0
28          cl    7222562.0
29         tvh    2896815.0

In [4]:
ds = ClimateDataset('aice', lead_times=[3], periods=[3], normed=True)
variables = [v for v in ds.variables if v not in ['cos_period', 'sin_period']]
ds.set_variables(variables)

model = LinearRegression(variables=variables)
model.fit(ds)

pd.DataFrame({
    'feature': model.variables,
    'weights': model.weights,
    'abs_weights': np.abs(model.weights.numpy())
}).sort_values('abs_weights', ascending=False).reset_index(drop=True)

    feature   weights  abs_weights
0   cos_lat -0.118451     0.118451
1      aice  0.108433     0.108433
2     t2min -0.043270     0.043270
3        t2  0.042158     0.042158
4       sst  0.032601     0.032601
5      t850 -0.024280     0.024280
6      h500  0.021282     0.021282
7     t2max -0.012351     0.012351
8        ps -0.010795     0.010795
9       cld  0.009140     0.009140
10     hice -0.006697     0.006697
11  cos_lon -0.006669     0.006669
12      olr  0.005347     0.005347
13  sin_lon -0.004979     0.004979
14     v850  0.002875     0.002875
15     uv10  0.001239     0.001239
16      rq2  0.001064     0.001064
17     prec -0.000485     0.000485
18     u850 -0.000378     0.000378

In [9]:
ds = ClimateDataset('swe', lead_times=[3], periods=list(range(44, 49)), normed=True)
variables = []
for v in ds.variables:
    if v in ['cos_period', 'sin_period'] or 'tvl' in v or 'tvh' in v or 'slt' in v:
        continue
    variables.append(v)
ds.set_variables(variables)

model = LinearRegression(variables=variables)
model.fit(ds)

pd.DataFrame({
    'feature': model.variables,
    'weights': model.weights,
    'abs_weights': np.abs(model.weights.numpy())
}).sort_values('abs_weights', ascending=False).reset_index(drop=True)

    feature   weights  abs_weights
0     t2min -2.872879     2.872879
1      h500 -2.096758     2.096758
2      t850  1.433057     1.433057
3       cld  1.392220     1.392220
4        t2 -1.116005     1.116005
5      v850  1.050917     1.050917
6      uv10  0.742460     0.742460
7       olr  0.718844     0.718844
8       swe  0.609597     0.609597
9        ps  0.586430     0.586430
10      rq2 -0.485313     0.485313
11     prec -0.445129     0.445129
12    t2max  0.442396     0.442396
13        z  0.399527     0.399527
14       ww  0.368762     0.368762
15     u850  0.364127     0.364127
16      cvh  0.159736     0.159736
17     sdor  0.128157     0.128157
18  cos_lat -0.105587     0.105587
19       cl  0.092960     0.092960
20       ws  0.092274     0.092274
21      cvl  0.055211     0.055211
22  cos_lon -0.052962     0.052962
23  sin_lon -0.045431     0.045431
24      lsm  0.024722     0.024722